@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto+Mono:wght@500&display=swap");

:root {
  --primary-blue: #0d6efd;
  --white: rgb(240, 240, 240);
  --foreground: var(var(--white));
  --link-text: #212529;
  --modal-width: 800px;
  --red: #e70000;
  --gray: #8297b7;
  --darkGreyBlue: rgb(15 16 21);
  font-family: "Poppins", sans-serif;
}
html {
  overflow-y: scroll;
}
body {
  background-color: var(--white) !important;
  transition: background-color 0.5s ease-in-out;
}
.loading-circle {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2000;
  overflow-y: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(40, 40, 40, 0.3);
}
.load-wheel {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 17px solid rgba(0, 0, 0, 0.9);
  border-right-color: white;
  animation: loading-animation 1s linear infinite;
}
@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header > * {
  animation: fade-in 0.6s ease-in-out;
}
.color-mode-toggle {
  background-color: var(--darkGreyBlue) !important;
  color: var(--white) !important;
}
.link-dark.header-links {
  color: var(--white) !important;
}
.btn-outline-secondary.dark-mode-button {
  --bs-btn-color: var(--white);
  --bs-btn-border-color: var(--white);
}
.project-set-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  background-color: white;
  animation: fade-in 0.35s ease-in-out;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0rem;
  gap: 1rem;
}
.modal-back-btn {
  position: absolute;
}
.exit-modal {
  top: 0;
  right: 0;
  margin: 1.5rem 3rem 0 0;
  font: 1.75rem "Rubik";
  opacity: 0.6;
}
.exit-modal:hover {
  cursor: pointer;
  color: var(--red) !important;
}
.modal-card {
  position: relative;
  margin-top: 1rem;
}
.project-card-bottom {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.curr-project {
  width: var(--modal-width);
}
.curr-project,
.project-card-bottom {
  animation: slide-down 0.4s cubic-bezier(0.25, 1.5, 0.5, 1);
}
.project-card-bottom {
  background-color: var(--darkGreyBlue);
  color: rgb(240, 240, 240);
  position: absolute;
  width: 100%;
  border-radius: 0 0 7px 7px;
  padding: 1rem 2rem;
  letter-spacing: 0.25px;
}
.multi-link {
  margin-left: 2.5em;
  margin-top: 0.5em;
  gap: 0.25em;
}
.features {
  margin-top: 1em;
  color: rgba(255, 255, 255, 0.95);
  gap: 0.5em;
  list-style-type: circle;
}
.divider {
  border-top: 1px solid var(--white);
  opacity: 0.4;
}
.project-info a {
  text-decoration: none;
}
.see-next {
  padding: 0.4em 1em;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  border-radius: 7px;
}
h1 {
  position: relative;
  display: inline-block;
  margin: 1.5rem 0 3rem !important;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  min-height: 1em;
  pointer-events: none;
}
h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background: var(--psuedoBackground);
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  transition: background 0.8s ease-in-out;
}
.typewriter::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: inline-block;
  background-color: #777;
  width: 6px;
  height: 1em;
  margin-left: 0.2rem;
  animation: blink 1s linear infinite;
}
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 2.3rem !important;
  font-weight: 500 !important;
}
h3 {
  font-weight: 300 !important;
  font-size: 1.2rem !important;
  margin: 0.8rem 0 !important;
}
.fade {
  animation: fade-out 0.35s ease-in-out;
}
.logo {
  max-height: 80px;
}
header {
  gap: 1rem;
  padding: 0rem 2rem 0rem 2rem;
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--foreground) !important;
}
header > .mb-2 {
  margin-bottom: 0 !important;
}
.header-links {
  display: flex;
}
.header-links {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#blog::after {
  display: inline-block;
  content: "";
  background: center / contain no-repeat url("./img/svg/blog.svg");
  width: 15px;
  height: 15px;
  margin-left: 0.3rem;
}
#portfolio:after,
#home:after {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  margin-left: 0.3rem;
}
#portfolio:after {
  background: center / contain no-repeat url("./img/svg/portfolio.svg");
}
#github::after {
  display: inline-block;
  content: "";
  background: center / contain no-repeat url("./img/svg/github.svg");
  width: 15px;
  height: 15px;
  margin-left: 0.3rem;
}
.nav-link.nav-item:hover {
  color: var(--primary-blue) !important;
}
img.color-fade {
  width: 20px;
  height: 25px;
  margin-top: 0.5rem;
}
img.color-fade:hover {
  cursor: pointer;
}
.col-md-3.text-end a {
  text-decoration: none;
}
#get-in-touch {
  display: none;
  animation: fade-in 0.8s ease-in-out;
  border-color: var(--link-text);
  color: var(--link-text);
}
#get-in-touch:hover {
  color: var(--primary-blue);
  border-color: var(--primary-blue);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  background-color: #00000000;
}
img.view-project-btn {
  transition: all 0.3s linear;
  width: var(--modal-width);
}
img.view-project-btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.main,
footer,
.col-md-3.text-end a {
  transition: opacity 0.8s ease-in-out;
}
.main {
  padding-top: 1rem;
  display: none;
  opacity: 0;
}
.main h2 {
  padding: 0 1.5rem 1rem;
  min-width: 300px;
  border-bottom: 1px solid var(--foreground);
  animation: slide-left 0.5s ease-in-out;
}
#chat-area {
  min-height: 100vh;
}
.chat-wrapper {
  --localGrey: rgba(0, 0, 0, 0.6);
  --chatForeground: var(--white);
  --chatBackground: var(--localGrey);
  display: none;
  min-height: 100vh;
  padding: 35vh 0 45vh;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.15em;
}
.chat-wrapper p {
  margin-bottom: 0;
}
.chat-wrapper h3 {
  margin-bottom: 2rem !important;
  animation: fade-in 0.8s ease-in-out;
}
.agent {
  margin-right: auto;
  padding-top: 2.5rem;
}
.user {
  margin-left: auto;
  margin-top: 1.5rem;
}
.user > form {
  opacity: 0;
  animation: fade-in 0.6s 0.4s ease-in-out forwards;
}
.user input,
.user button {
  border-radius: 8px;
  padding: 0.4em 0.6em;
}
.user input {
  max-width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}
.user button {
  border: none;
  background-color: var(--primary-blue);
  color: var(--white);
}
.user input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.user input:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.agent,
.user {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  overflow-y: hidden;
  max-width: 80%;
  letter-spacing: 0.1px;
}
.agent > * {
  animation: slide-up 1.2s cubic-bezier(0.2, 1, 0.1, 1);
}
.agent img {
  max-width: 6ch;
  border-radius: 50%;
  box-shadow: 0 1px 10px var(--localGrey);
  opacity: 0.95;
}
.agent a {
  word-break: break-all;
}
.agent p,
.user p {
  padding: 0.9rem 1.3rem;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 0 8px var(--localGrey);
}
.agent p,
.user p,
.user input {
  color: var(--chatForeground);
  background-color: var(--chatBackground);
}
.agent a {
  text-decoration: none !important;
}

.loading span {
  display: inline-block;
  opacity: 0;
  font-size: 2em;
  animation: dotPulse 1.5s infinite;
}

.loading span:nth-child(1) {
  animation-delay: 0.5s;
}
.loading span:nth-child(2) {
  animation-delay: 1s;
}
.loading span:nth-child(3) {
  animation-delay: 1.5s;
}

@keyframes dotPulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#contact {
  align-items: center;
  justify-content: space-between;
  padding: 6rem 0;
  gap: 4rem;
}
#contact-form-wrapper {
  text-align: left;
  padding: 3rem 0;
  min-height: 400px;
  flex-basis: 50%;
  color: var(--white);
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  flex-basis: 50%;
  max-width: 350px;
  gap: 0.75rem;
  background-color: rgba(55, 109, 189, 0.07);
  padding: 1.5rem;
  border-radius: 12px;
}
.contact-info > .link-item {
  width: 100%;
  border-radius: 7px;
  text-decoration: none;
  padding: 1.5rem;
  background-color: rgb(0 0 0 / 50%);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.contact-info > .link-item:hover {
  transform: scale(1.02) translate(0.2em, -0.2em);
}
.contact-info > .link-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  padding: 0 2rem;
  color: rgb(240 240 240 / 65%);
  margin-right: auto;
  font-size: 1em;
}
.contact-info > .link-item span img {
  max-width: 22px;
}
#contact-form-wrapper input,
#contact-form-wrapper textarea {
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 0.6em 0.8em;
}
#contact-form-wrapper input::placeholder,
#contact-form-wrapper textarea::placeholder {
  color: var(--white);
}
#contact-form-wrapper .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
#contact-form-wrapper .inputs input {
  grid-column: span 1;
}
#contact,
.contact-info,
.container > span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#contact,
.contact-info {
  display: flex;
}
#contact-form-wrapper form > * {
  width: 100%;
}
#contact-form-wrapper form button {
  max-width: 10rem;
  padding: 0.6em;
  margin-right: auto;
}
.hero.pt-5 {
  padding: 0.75rem 0.75rem 0 !important;
}
.curr-num {
  color: #0d6efd;
}
.project-info {
  line-height: 1.2;
  opacity: 0.97;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Poppins", sans-serif;
  font-weight: 300 !important;
  font-size: 1em !important;
  margin: 0.8rem 0 !important;
}
.video-wrapper {
  margin-top: 2rem;
}
.video-wrapper video {
  max-width: 100%;
}
.label {
  font-weight: bold;
  font-size: 1.1em;
}
.demo-account-info {
  cursor: pointer;
  color: var(--primary-blue);
}
.demo-account-info:hover {
  color: var(--bs-link-hover-color);
}
#copied-popup {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0.6em 1.5em;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.1);
  z-index: 10;
  display: none;
  pointer-events: none;
  position: fixed;
  left: 0;
  margin-left: 2rem;
  bottom: 0;
  margin-bottom: 2rem;
  color: rgb(241, 234, 15);
  animation: slide-right-in-out 2s cubic-bezier(0.52, -0.11, 0.47, 1.22)
    forwards;
}
footer {
  overflow-y: hidden;
  display: none;
  min-height: 400px;
  padding: 6rem 2rem 0;
  letter-spacing: 0.4px;
  background-color: rgb(5, 5, 5);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  color: var(--white);
  text-align: left;
  animation: fade-in 1s ease-in-out;
}
footer p {
  margin: 0;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right-in-out {
  0%,
  5% {
    transform: translateX(-400px);
    opacity: 0;
  }
  20%,
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  95%,
  100% {
    transform: translateX(-400px);
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
@keyframes grow-in {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500px;
  }
}
@media screen and (max-width: 1300px) {
  #contact {
    flex-direction: column;
    padding-top: 8rem;
  }
  #contact-form-wrapper,
  .contact-info {
    width: 100%;
  }
  .contact-info {
    padding: 2rem;
  }
  #contact-form-wrapper input,
  #contact-form-wrapper textarea {
    padding: 0.8em;
  }
  .contact-info {
    max-width: 100vw;
    gap: 1rem;
  }
}
@media screen and (max-width: 765px) {
  header {
    flex-direction: column !important;
  }
  h1 {
    margin: 1rem 0 !important;
  }
  #project-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.75rem !important;
    margin-top: 3rem;
    margin-bottom: 1.5rem !important;
  }
  #project-button {
    font-size: 1.1rem;
    padding: 0.5em 1em !important;
    margin: 0px;
  }
  #project-button.me-sm-3 {
    margin-right: 0 !important;
  }
  .col-md-3.text-end:has(#get-in-touch) {
    overflow: hidden;
  }
  #get-in-touch {
    font-size: 0.8rem;
    padding: 0.5em 0.8em 0.5em 0.8em;
    max-height: 0;
    margin-top: 0.5rem;
    animation: grow-in 0.75s ease-in-out forwards;
  }
  #get-in-touch legend {
    font-weight: 600;
  }
  .chat-wrapper h3 {
    margin-bottom: 0 !important;
  }
  .agent,
  .user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 95%;
  }
  .agent p,
  .user p {
    padding: 0.8rem 1rem;
  }
  #contact {
    gap: 8rem;
  }
  #contact-form-wrapper .inputs {
    grid-template-columns: 1fr;
  }
  #contact-form-wrapper form button[type="submit"] {
    max-width: 100%;
    margin-right: 0;
  }
  .container.px-5 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .modal-card {
    margin-top: 2.5rem;
  }
  .curr-project {
    width: 90vw;
    height: auto;
  }
}

@media (max-width: 460px) {
  .hero.pt-5 {
    padding: 0.75rem 0.5rem 0 !important;
  }
  .py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  h1 {
    position: relative;
    display: inline-block;
    margin: 1.5rem 0 2rem !important;
    font-size: 2.5rem;
  }
  .main h2 {
    font-size: 1.75rem !important;
    padding: 0 0 1rem;
    min-width: 250px;
  }
  .curr-project {
    width: 100vw;
  }
  .project-card-bottom {
    padding: 1rem 1.5rem;
  }
  .agent img {
    max-width: 16%;
  }
  .agent p {
    letter-spacing: 0px;
  }
  .agent p,
  .user p {
    font-size: 0.94em;
  }
}

@media screen and (max-width: 390px) {
  .user {
    gap: 0.4rem;
  }
  .user input,
  .user button {
    font-size: 0.85em;
  }
}
